/*Font
font-family: 'Montserrat','sans-serif';
font-family: 'Roboto Condensed', 'sans-serif';
*/
@font-face
{
font-family: "Montserrat";
font-weight: 700;
font-style: normal;
src: url('./../font/montserrat-v12-latin-700.eot'); /* IE9 Compat Modes */
src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('./../font/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'),
    url('./../font/montserrat-v12-latin-700.woff2') format('woff2'),
    url('./../font/montserrat-v12-latin-700.woff') format('woff'),
    url('./../font/montserrat-v12-latin-700.ttf') format('truetype'),
    url('./../font/montserrat-v12-latin-700.svg#Montserrat') format('svg');
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./../font/roboto-condensed-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
    url('./../font/roboto-condensed-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./../font/roboto-condensed-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./../font/roboto-condensed-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./../font/roboto-condensed-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./../font/roboto-condensed-v16-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/*Général*/
.heading-site{
  text-align: center;
  font-family: 'Montserrat','sans-serif';
}
.para{
  font-family: 'Roboto Condensed', 'sans-serif';
}
.separator{
  text-align: center;
  height: 5px;
  width: 25%;
  border: none;
  box-shadow: none;
  background-color: #82ccdd;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
}

/*Header V2*/
.navbar{
  background-color: #616161;
  font-family: 'Montserrat','sans-serif';
  color: #dddddd;
}
.navbar a{
  color: #dddddd;
}
.navbar a:hover{
  color: #da0000;
}
/*Banner*/
.banner{
  margin-top: 0px;
}
.banner .banner-image{
  position: relative;
}
.banner .banner-content{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20%;
}
.banner .banner-content h1,
.banner .banner-content h2{
  color: #269ee6;
  text-shadow: 1px 1px 20px #ffffff;
}
.profil-cust{
  margin: auto;
  margin-bottom: 5rem;
}
